
{% extends "base.html" %}
{% block content %}

<center>
    <script>
        $(window).load(function () {




            var ip = '{{ ip_address }}';
            var api = 'http://' + ip + ':3000/';
            var socket = io.connect(api);
            socket.emit('getMeta', {filename : '{{nomFichier}}', id_torrent : '{{id_torrent}}'});
            var player = document.querySelector('#player');
            plyr.setup(player);
            socket.on('background-player', function(msg){
                console.log('receiving metadata from tmdb : '+msg);
               document.getElementsByTagName("video")[0].setAttribute("poster", 'http://image.tmdb.org/t/p/w500' + msg);
                $('.video').show();
            });
            $.post(api + 'streamtorrent/add', { torrent : "{{ chemin }}", id : {{ id_torrent }} }).done( function( data ){
                    setTimeout(function(){
                        var videomp4 = api + 'streamtorrent/' + '{{id_torrent}}' + '.mp4';
                        var videowebm = api + 'streamtorrent/' + '{{id_torrent}}' + '.webm';
                        $('.player').append('<source src=' + videomp4 + ' type="video/mp4">')
                        $('.player').append('<source src=' + videowebm + ' type="video/webm">');
                        //$('video').attr('src' video2);
                        $('.input').hide();
                        $('.video').show();
                    }, 2000);
            });
        });
        $(window).unload(function() {
            var id = {{ id_torrent }};
            var ip = '{{ ip_address }}';
            var api = 'http://' + ip + ':3000/';
            $.get(api + 'delete/' + id).done(function(data){
                console.log("removed torrent");
            });
        });
        $('.video').play();


    </script>


  <div class="container">

        <div class="video" style="display:none">
            <video class="player" autoplay preload="none" controls crossorigin id="player"   style="background:black">

            </video>

            <br>
            <button class="stop">Stop</button>
        </div>
  </div>
</center>
<script src="https://cdn.plyr.io/1.8.12/plyr.js"></script>

{% endblock %}
